@import "settings";

@mixin hover_shade($color, $lightness: 20%) {
    background-color: $color;
    &:hover {
        background-color: darken($color, $lightness);
    }
}

.start { @include hover_shade($success-color) }
.pause { @include hover_shade($warning-color) }
.remove { @include hover_shade($alert-color) }

#torrent_controls {
    margin-top: 20px;
    #remove_button_dropdown a {
        margin-bottom: 2px;
        background-color: inherit;
        &:hover {
            background-color: $primary-color;
        }
    }
}

#torrent_table {
    tbody {
        height: 100px !important;
        overflow: auto !important;
    }
    .name {
        overflow-x: hidden;
        width: 100%;
    }
    .peers, .leechers {
        width: 60px;
    }
    .size {
        width: 50px;
    }
    .is_active {
        width: 60px;
    }
    .priority {
        width: 40px;
    }
    td.completed, th.completed {
        width: 100px;
    }
    td.progress {
        padding: 0;
    }
    div.progress {
        margin-bottom: 0;
        background-color: inherit;
        border: 0;
        .count {
            float: left;
            color: $white;
            margin-top: 2px;
            margin-left: 2px;
        }
    }
    .up_rate, .dn_rate, .ratio {
        width: 80px;
    }
    td {
        white-space: nowrap;
        font-size: 65%;
        padding: 4px 4px 4px 4px;
        line-height: 16px;
        // Used for ratio colors
        span.alert {
            color: $alert-color;
        }
        span.success {
            color: $success-color;
        }
    }
    tr.selected {
        background-color: lighten($success-color, 50%);
    }
    tr {
        cursor: pointer;
    }
}

#torrent_detail {
    .torrent_detail_value, .torrent_detail_label {
        font-size: 60%;
    }
    .torrent_detail_label {
        font-weight: 700;
    }
    .tab-title a {
        padding: 4px 8px 4px 8px;
    }
    .tabs-content {
        border: 1px solid $tabs-navigation-bg-color;
        padding: 4px;
    }
}
