@import "settings";

@mixin hover_shade($color, $lightness: 20%) {
    background-color: $color;
    &:hover {
        background-color: darken($color, $lightness);
    }
}

.start { @include hover_shade($success-color) }
.pause { @include hover_shade($warning-color) }
.remove { @include hover_shade($alert-color) }

#torrent_controls {
    margin-top: 20px;
    #remove_button_dropdown a {
        margin-bottom: 2px;
        background-color: inherit;
        &:hover {
            background-color: $primary-color;
        }
    }
}

#torrent_table {
    td {
        padding: 1px 4px 4px 4px;
        line-height: 16px;
        // Used for ratio colors
        span.alert {
            color: $alert-color;
        }
        span.success {
            color: $success-color;
        }
    }
}

#torrent_detail {
    .torrent_detail_value, .torrent_detail_label {
        font-size: 60%;
    }
    .torrent_detail_label {
        font-weight: 700;
    }
    .tab-title a {
        padding: 4px 8px 4px 8px;
    }
    .tabs-content {
        border: 1px solid $tabs-navigation-bg-color;
        padding: 4px;
    }
}
