@import "settings";

#torrent_controls {
    margin-top: 20px;
}

#torrent_table {
    td {
        padding: 1px 4px 4px 4px;
        line-height: 16px;
        // Used for ratio colors
        span.alert {
            color: $alert-color;
        }
        span.success {
            color: $success-color;
        }
    }
}

#torrent_detail {
    .torrent_detail_value, .torrent_detail_label {
        font-size: 60%;
    }
    .torrent_detail_label {
        font-weight: 700;
    }
    .tab-title a {
        padding: 4px 8px 4px 8px;
    }
    .tabs-content {
        border: 1px solid $tabs-navigation-bg-color;
        padding: 4px;
    }
}
