feedparser
requests
watchdog
jsonrpclib
psutil
six
pathtools
jinja2
flask
flask-login
flask-script
flask-sqlalchemy
flask-mail
flask-cache
flask-babel
flask-socketio
flask-uploads
flask-wtf
imdbpy
fuzzywuzzy
