feedparser
requests
watchdog
jsonrpclib
psutil
six
pathtools
psycopg2
jinja2
flask
flask-login
flask-script
flask-sqlalchemy
flask-mail
flask-cache
flask-babel
flask-socketio
flask-uploads
flask-wtf
#-e git+git://github.com/seatgeek/fuzzywuzzy.git#egg=fuzzywuzzy
#-e git+git://github.com/alberanid/imdbpy.git#egg=imdbpy
imdbpy
fuzzywuzzy
