<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Tranny</title>

    <link rel="stylesheet" href="{{ url_for("webui.static", filename="css/normalize.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("webui.static", filename="css/app.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("webui.static", filename="css/tranny.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("webui.static", filename="css/app.css") }}"/>

    <script src="{{ url_for("webui.static", filename="js/vendor/custom.modernizr.js") }}"></script>

</head>
<body>

{% include "top_bar.html" %}

<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-12 columns" id="user_messages">
                {% for message in messages %}
                    <div id="msgid_#{msg_cur_id}" class="rounded alert-box [{{ message[1] }} secondary]">
                        {{ message[0] }} <a href="" class="close">&times;</a></div>
                {% endfor %}
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
</div>

<footer class="row">
    <div class="large-12 columns text-center">
        <a href="https://github.com/leighmacdonald/tranny"><i class="icon-github"></i></a>
{#        <a href="{{ url_for(".system") }}"><i class="icon-chart-area"></i></a>#}
    </div>
</footer>

<script src="{{ url_for("webui.static", filename="js/vendor/jquery.js") }}"></script>
<script src="{{ url_for("webui.static", filename="js/foundation/foundation.js") }}"></script>
<script src="{{ url_for("webui.static", filename="js/foundation/foundation.forms.js") }}"></script>
<script src="{{ url_for("webui.static", filename="js/foundation/foundation.topbar.js") }}"></script>
<script src="{{ url_for("webui.static", filename="js/foundation/foundation.reveal.js") }}"></script>
<script src="{{ url_for("webui.static", filename="js/foundation/foundation.dropdown.js") }}"></script>
<script src="{{ url_for("webui.static", filename="js/tranny.js") }}"></script>


{% block footer %}{% endblock %}
</body>
</html>
