{% extends "base.html" %}

{% block content %}
    <div class="row">
        {% for section_info in section_data %}
            {% set section = section_info.section %}
            <div class="large-6 columns">

                <h1><small>{{ section_info.section|upper }}</small></h1>

                <h3><small>HD Show Filters</small></h3>
                {% set filters = section_info.quality_hd %}
                {% set quality = "hd" %}
                {% include "render_filters.html" %}


                <h3><small>SD Show Filters</small></h3>
                {% set filters = section_info.quality_sd %}
                {% set quality = "sd" %}
                {% include "render_filters.html" %}


                <h3><small>Any Show Filters</small></h3>
                {% set filters = section_info.quality_any %}
                {% set quality = "any" %}
                {% include "render_filters.html" %}

            </div>
        {% endfor %}
    </div>
{% endblock %}
