<div class="row collapse">
    <div class="small-10 columns">
        <input type="text" placeholder="Title" id="input_{{ section }}_{{ quality }}">
    </div>
    <div class="small-2 columns">
        <a href="#" class="button prefix filter_add" data-section="{{ section }}" data-quality={{ quality }}>Add</a>
    </div>
</div>
<ul>
{% for filter in filters %}
    <li>{{ filter|title }} <a href="#" class="filter_remove"
                              data-title="{{ filter|title }}"
                              data-quality="{{ quality }}"
                              data-section="{{ section }}"
            ><small>Remove</small></a></li>
{% endfor %}
</ul>
