{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="large-6 columns">
            <h2><small>BroadcastTheNet</small></h2>
            <form>
                <div class="row collapse">
                    <div class="small-2 columns">
                        <span class="prefix">API Token</span>
                    </div>
                    <div class="small-10 columns">
                        <input type="text" name="btn_api_token" id="btn_api_token" value="{{ btn.api_token }}">
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-2 columns">
                        <span class="prefix">URL</span>
                    </div>
                    <div class="small-10 columns">
                        <input type="text" name="btn_url" id="btn_url" value="{{ btn.url }}">
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-2 columns">
                        <span class="prefix">Interval</span>
                    </div>
                    <div class="small-10 columns">
                        <input type="number" name="btn_interval" id="btn_interval" value="{{ btn.interval }}" min=30>
                    </div>
                </div>
            </form>
        </div>
        <div class="large-6 columns">

        </div>
    </div>
{% endblock %}
