<div class="sticky">
<nav class="top-bar">
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1><a href="#">Tranny </a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
            <li class="divider"></li>
            <li {% if section == "stats" %}class="active"{% endif %}><a href="{{ url_for("webui.index") }}">Dashboard</a></li>
            <li class="divider"></li>
            <li {% if section == "filters" %}class="active"{% endif %}><a href="{{ url_for("webui.filters") }}">Filters</a></li>
            <li class="divider"></li>
            <li {% if section == "services" %}class="active"{% endif %}><a href="{{ url_for("webui.services") }}">API Providers</a></li>
            <li class="divider"></li>
            <li {% if section == "rss" %}class="active"{% endif %}><a href="{{ url_for("webui.rss") }}">RSS Providers</a></li>
            <li class="divider"></li>
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
            <li class="divider hide-for-small"></li>
            <li {% if section == "syslog" %}class="active"{% endif %}><a href="{{ url_for("webui.syslog") }}">SysLog</a></li>
            <li class="divider hide-for-small"></li>
            <li {% if section == "settings" %}class="active"{% endif %}><a href="{{ url_for("webui.settings") }}">Settings</a></li>
        </ul>
    </section>
</nav>
</div>
