<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Tranny</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="css/normalize.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/app.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/tranny.css") }}"/>


    <script src="{{ url_for("static", filename="vendor/modernizr/modernizr.js") }}"></script>
    <script src="{{ url_for("static", filename="vendor/moment/moment.js") }}"></script>
    <script src="{{ url_for("static", filename="vendor/lodash/dist/lodash.js") }}"></script>
    <script src="{{ url_for("static", filename="js/vendor/socket.io.js") }}"></script>

</head>
<body>

{% include "top_bar.html" %}
<div class="row">
    <div class="large-12 columns" id="user_messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}{% endif %}
        {% endwith %}
    </div>
</div>

{% block content %}{% endblock %}



<script src="{{ url_for("static", filename="vendor/jquery/dist/jquery.js") }}"></script>
<script src="{{ url_for("static", filename="vendor/fastclick/lib/fastclick.js") }}"></script>
<script src="{{ url_for("static", filename="vendor/foundation/js/foundation.js") }}"></script>
<script src="{{ url_for("static", filename="vendor/highcharts/highcharts.js") }}"></script>
<script src="{{ url_for("static", filename="vendor/contextMenu/contextMenu.js") }}"></script>
<script src="{{ url_for("static", filename="js/highcharts-theme.js") }}"></script>
<script src="{{ url_for("static", filename="js/tranny.js") }}"></script>
<script src="{{ url_for("static", filename="js/tranny-torrents.js") }}"></script>



{% include "modal_upload.html" %}
</body>
</html>
