<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Tranny</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="css/normalize.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/app.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/tranny.css") }}"/>


    <script src="{{ url_for("static", filename="vendor/modernizr/modernizr.js") }}"></script>
    <script src="{{ url_for("static", filename="vendor/moment/moment.js") }}"></script>
{#    <script src="{{ url_for("static", filename="vendor/socket.io-client/socket.io.js") }}"></script>#}
    <script src="{{ url_for("static", filename="js/vendor/socket.io.js") }}"></script>

</head>
<body>

{% include "top_bar.html" %}
<div class="row">
    <div class="large-12 columns" id="user_messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}{% endif %}
        {% endwith %}
    </div>
</div>

{% block content %}{% endblock %}

<footer class="row">
    <div class="large-12 columns text-center">
        <div>▲ <div id="speed_up" style="display: inline-block">n/a</div> ▼ <div id="speed_dn" style="display: inline-block">n/a</div></div>
        <a href="https://github.com/leighmacdonald/tranny"><i class="icon-github"></i></a>
{#        <a href="{{ url_for(".system") }}"><i class="icon-chart-area"></i></a>#}
    </div>
</footer>

<script src="{{ url_for("static", filename="vendor/jquery/dist/jquery.js") }}"></script>
<script src="{{ url_for("static", filename="vendor/fastclick/lib/fastclick.js") }}"></script>
<script src="{{ url_for("static", filename="vendor/foundation/js/foundation.js") }}"></script>
<script src="{{ url_for("static", filename="js/tranny.js") }}"></script>


{% block footer %}{% endblock %}
{% include "modal_upload.html" %}
</body>
</html>
