{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="large-4 columns">
            <h3>
                <small>Provider Source Download Totals</small>
            </h3>
            <div id="service_totals" style="height: 400px"></div>
        </div>
        <div class="large-4 columns">
            <h3><small>Matched Section Totals</small></h3>
            <div id="section_totals" style="height: 400px"></div>
        </div>
        <div class="large-4 columns">
            <h3>
                <small>Top Provider Service Types</small>
            </h3>
            <div id="service_type_totals" style="height: 400px"></div>
        </div>
    </div>
{#    <div class="row">#}
{#        <div class="large-6 columns">#}
{#            <h3>#}
{#                <small>Top Provider Service Types</small>#}
{#            </h3>#}
{#            <div id="service_type_totals" style="height: 400px"></div>#}
{#        </div>#}
{#    </div>#}
    <div class="row">
        <div class="large-12 columns">
            <h3>
                <small>Most recent matched downloads</small>
            </h3>
            {% for rls in newest %}
                <div class="release_item">
                    <span>{{ rls.created_on }}</span> {{ rls.release_name }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    <script type="text/javascript"
            src="{{ url_for("static", filename="js/vendor/flot/jquery.flot.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="js/vendor/flot/jquery.flot.resize.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="js/vendor/flot/jquery.flot.pie.js") }}"></script>
{% endblock %}
