{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="large-4 columns">
            <h3 class="text-center">
                <small>Provider Download Totals</small>
            </h3>
            <div id="provider_totals" ></div>
        </div>
        <div class="large-4 columns">
            <h3 class="text-center"><small>Matched Section Totals</small></h3>
            <div id="section_totals"></div>
        </div>
        <div class="large-4 columns">
            <h3 class="text-center">
                <small>Top Provider Service Types</small>
            </h3>
            <div id="provider_type_totals"></div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h3>
                <small>Most recent downloads</small>
            </h3>
            {% for rls in newest %}
                <div class="release_item">
                    <span>{{ rls.created_on|format_date("%d-%m-%Y @ %H:%M") }}</span> {{ rls.release_name }}
                </div>
            {% endfor %}
        </div>
    </div>
        <script>
        // Chart data to load
        var provider_totals = {{ provider_totals|tojson }};
        var section_totals = {{ section_totals|tojson }};
        var provider_type_totals = {{ provider_type_totals|tojson }};
    </script>
{% endblock %}
{% block footer %}
    <script src="{{ url_for("static", filename="vendor/highcharts/highcharts.js") }}"></script>
    <script src="{{ url_for("static", filename="js/highcharts-theme.js") }}"></script>
    <script src="{{ url_for("static", filename="js/tranny-torrents.js") }}"></script>
{% endblock %}
