{% extends "base.html" %}

{% block content %}
    <div class="row">
    <div class="small-12 columns">
    <form class="custom" action="{{ url_for("settings.save") }}" id="settings_form" method="post">
        {% for name, sections in settings.iteritems() %}
        <div class="row collapse">
            <div class="small-12 columns">
	        <h2><small>{{ name }}</small></h2>
	    </div>
	</div>
	<ul class="small-block-grid-1 large-block-grid-2">
        {% for k, v in sections.iteritems() %}
            <li>
                <div class="row">
                    <div class="large-12 columns">
                        <h3>
                            <small>{{ k.replace("_", " ") }}</small>
                        </h3>
                        {% for key, value in sections[k].iteritems() %}
                            <div class="row collapse">
                            {% if key in select_values %}
                                <div class="small-3 columns">
                                    <span class="prefix">{{ k }}</span>
                                </div>
                                <div class="small-9 columns">
                                    <select id="{{ k.lower() }}__{{ key }}" name="{{ k.lower() }}__{{ key }}">
                                        {% for item in db_types %}
                                        <option {% if item.lower() == settings[k][key] %}selected="selected"{% endif %}>{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% elif key in bool_values %}
                                <div class="small-3 columns">
                                    <span class="prefix">{{ key.replace("_", " ")|title }}</span>
                                </div>
                                <div class="small-9 columns">
                                    <div class="custom_switch">
                                        <input id="{{ k.lower() }}__{{ key }}" type="checkbox" {% if value|lower == "true" %}checked{% endif %}>
                                        <label for="{{ k.lower() }}__{{ key }}"></label>
                                    </div>

                                </div>
                            {% else %}
                                <div class="small-3 columns">
                                    <span class="prefix">{{ key.replace("_", " ")|title }}</span>
                                </div>
                                <div class="small-9 columns">
                                    <input type="text" name="{{ k.lower() }}__{{ key }}" id="{{ k.lower() }}__{{ key }}" value="{{ value }}">
                                </div>
                            {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </li>
        {% endfor %}
	</ul>
	{% endfor %}

    <div class="row">
        <div class="large-12 columns">
            <ul class="button-group even-2">
                <li><input type="submit" class="small button success settings_save" value="Save Settings"></li>
                <li><input type="reset" class="small button" value="Reset"></li>
            </ul>
        </div>
    </div>
    </form>
    </div>
        </div>
{% endblock %}
