{% from "funcs.html" import icon, button %}
<div class="sticky">
<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name"><h1><a href="{{ url_for("home.index") }}"><i class="icon-gauge"></i></a></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">

            <li {% if section == "home" %}class="active"{% endif %}>
                {{ button(icon("chart-bar")+ " Dashboard", link=url_for("home.index"), button_class="") }}
            </li>

            <li {% if section == "torrents" %}class="active"{% endif %}>
                {{ button(icon("th-list")+ " Torrents", link=url_for("torrents.index"), button_class="") }}
            </li>

            <li {% if section == "filters" %}class="active"{% endif %}>
                {{ button(icon("filter")+ " Filters", link=url_for("filters.index"), button_class="") }}
            </li>

            <li {% if section == "providers" %}class="active"{% endif %}>
                {{ button(icon("cog-alt")+ " API", link=url_for("providers.index"), button_class="") }}
            </li>

            <li {% if section == "rss" %}class="active"{% endif %}>
                {{ button(icon("rss")+ " RSS", link=url_for("rss.index"), button_class="") }}
             </li>

            <li class="has-form">
                <form>
                    <div class="row collapse">
                        <div class="small-12 columns">
                            {{ button(icon("upload-cloud")+ " Upload", button_class="success button", extra='data-reveal-id=upload-modal') }}
                        </div>
                    </div>
                </form>
            </li>
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
            <li style="margin-right: 10px">
                <div class="row collapse has-dropdown" id="speed_indicator">
                    <div>▲ <div id="speed_up" style="display: inline-block">n/a</div> ▼ <div id="speed_dn" style="display: inline-block">n/a</div></div>
                </div>
            </li>
            <li class="has-dropdown{% if section == "settings" %} active{% endif %}">
                <a href="{{ url_for("settings.index") }}"><i class="icon-wrench"></i> Settings</a>
                <ul class="dropdown">
                    <li><a href="{{ url_for("home.system") }}"><i class="icon-chart-area"></i> System Info</a></li>
                    <li {% if section == "syslog" %}class="active"{% endif %}>
                        <a href="{{ url_for("home.syslog") }}"><i class="icon-list-alt"></i> SysLog</a>
                    </li>
                    <li><a href="{{ url_for("user.logout") }}"><i class="icon-lock-open"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </section>
</nav>
</div>
