<table id="torrent_table" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="name">Name</th>
            <th class="size">Size</th>
            <th class="completed">Progress</th>
            <th class="ratio">Ratio</th>
            <th class="up_rate">UL</th>
            <th class="dn_rate">DL</th>
            <th class="leechers">Leech</th>
            <th class="peers">Peers</th>
            <th class="priority">Pri</th>
            <th class="is_active">Sts</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
