{% from "funcs.html" import icon, button %}

<div class="button-bar">

    <ul class="button-group">
        <li>{{ button(icon("play")+" Start",id="action_start", class="start") }}</li>
        <li>{{ button(icon("play")+" Start All", id="action_start_all", class="start") }}</li>
    </ul>

    <ul class="button-group">
        <li>{{ button(icon("pause")+" Pause", id="action_stop", class="pause") }}</li>
        <li>{{ button(icon("pause")+" Pause All", id="action_stop_all", class="pause") }}</li>
    </ul>

    <ul class="button-group">
        <li>
            {{ button(icon("minus")+" Remove", id="action_start", class="dropdown remove", extra='data-dropdown=remove_button_dropdown') }}
            <ul id="remove_button_dropdown" data-dropdown-content class="f-dropdown">
                <li>{{ button("Torrent", id="action_remove", class="remove") }}</li>
                <li>{{ button("Torrent + Data",id="action_remove_data", class="remove") }}</li>
            </ul>
        </li>
    </ul>

    <ul class="button-group">
        <li>{{ button(icon("arrows-cw")+" Recheck", id="action_recheck") }}</li>
        <li>{{ button(icon("signal")+" Announce", id="action_reannounce") }}</li>
    </ul>

    <ul class="button-group">
        <li>{{ button(icon("align-justify"), id="resize_columns") }}</li>
    </ul>
</div>
