<!-- bs hacks to make scrollable tables.. -->
<table id="torrent_table_head"  class="display" cellspacing="0">
    <thead>
        <tr>
            <th class="name">Name</th>
            <th class="size">Size</th>
            <th class="completed">Progress</th>
            <th class="ratio">Ratio</th>
            <th class="up_rate">UL</th>
            <th class="dn_rate">DL</th>
            <th class="leechers">Leech</th>
            <th class="peers">Peers</th>
            <th class="priority">Priority</th>
            <th class="is_active">Status</th>

            {# Used to align the columns nicely when there is a scrollbar #}
            <th class="filler"></th>
        </tr>
    </thead>
</table>
<div id="table_wrap">
    <table id="torrent_table" class="display">
        <tbody></tbody>
    </table>
</div>
