<!-- bs hacks to make scrollable tables.. -->
<section id="torrents">
    <header>
        <div class="row">
            <div class="name">Name</div>
            <div class="size">Size</div>
            <div class="completed">Progress</div>
            <div class="ratio">Ratio</div>
            <div class="up_rate">UL</div>
            <div class="dn_rate">DL</div>
            <div class="leechers">Leech</div>
            <div class="peers">Peers</div>
        </div>
    </header>
    <article></article>
</section>
