<div class="button-bar">
    <ul class="button-group">
        <li><a href="#" id="action_start" class="tiny button">Start</a></li>
        <li><a href="#" id="action_stop" class="tiny button">Stop</a></li>
        <li><a href="#" id="action_start_all" class="tiny button">Start All</a></li>
        <li><a href="#" id="action_stop_all" class="tiny button">Stop All</a></li>
    </ul>
    <ul class="button-group">
        <li><a href="#" id="action_remove" class="tiny button">Remove</a></li>
        <li><a href="#" id="action_remove_data" class="tiny button">Remove + Data</a></li>
    </ul>
    <ul class="button-group">
        <li><a href="#" id="action_recheck" class="tiny button">Recheck</a></li>
        <li><a href="#" id="action_reannounce" class="tiny button">Reannounce</a></li>
    </ul>
</div>
