{% extends "base.html" %}

{% block content %}
    <!-- Torrent control box -->
    <div class="row" id="torrent_controls">
        <div class="large-12 columns">
            {% include "torrents_controls.html" %}
        </div>
    </div>

    <!-- Torrent listings -->
    <div class="row">
        <div class="large-12 columns">
            {% include "torrents_table.html" %}
        </div>
    </div>

    <!-- Torrent details -->
    <div class="row">
        <div class="large-12 columns epoch-theme-dark">
            {% include "torrents_detail.html" %}
        </div>
    </div>

{% endblock %}

{% block footer %}
    <link rel="stylesheet"
          href="{{ url_for("static", filename="vendor/datatables/media/css/jquery.dataTables.css") }}"/>
    <link rel="stylesheet"
          href="{{ url_for("static", filename="vendor/epoch/epoch.min.css") }}"/>
    <script src="{{ url_for("static", filename="vendor/datatables/media/js/jquery.dataTables.js") }}"></script>
    <script src="{{ url_for("static", filename="vendor/lodash/dist/lodash.js") }}"></script>
    <script src="{{ url_for("static", filename="js/vendor/dataTables.foundation.js") }}"></script>
    <script src="{{ url_for("static", filename="vendor/d3/d3.js") }}"></script>
    <script src="{{ url_for("static", filename="vendor/epoch/epoch.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/tranny-torrents.js") }}"></script>
{% endblock %}
