{% extends "base.html" %}

{% block content %}
    <!-- Torrent control box -->
    <div class="row">
        <div class="small-12 columns" id="torrent_controls">
            {% include "torrents_controls.html" %}
        </div>
    </div>

    <!-- Torrent listings -->
    <div class="row">
        <div class="small-12 columns">
            {% include "torrents_table.html" %}
        </div>
    </div>

    <!-- Torrent details -->
    <div class="row">
        <div class="small-12 columns">
            {% include "torrents_detail.html" %}
        </div>
    </div>

{% endblock %}
