{% from "torrents_funcs.html" import torrent_detail_item %}


<ul class="tabs" data-tab id="torrent_detail_tabs">
        <li class="tab-title active"><a href="#detail-status">Status</a></li>
        <li class="tab-title"><a href="#detail-detail">Details</a></li>
        <li class="tab-title"><a href="#detail-files">Files</a></li>
        <li class="tab-title"><a href="#detail-peers">Peers</a></li>
        <li class="tab-title"><a href="#detail-traffic">Traffic</a></li>
    </ul>

<div id="torrent_detail">
    <div class="tabs-content">
        <div class="content active" id="detail-status">
            <div class="row">
                <div class="large-3 columns">
                    {{ torrent_detail_item('detail_downloaded', "Downloaded", "") }}
                    {{ torrent_detail_item('detail_uploaded', "Uploaded", "") }}
                    {{ torrent_detail_item("detail_ratio", "Ratio", "") }}
                    {{ torrent_detail_item("detail_next_announce", "Next Announce", "") }}
                    {{ torrent_detail_item("detail_tracker_status", "Tracker Status", "") }}
                </div>
                <div class="large-3 columns">
                    {{ torrent_detail_item('detail_speed_dl', "Download Speed", "") }}
                    {{ torrent_detail_item('detail_speed_ul', "Upload Speed", "") }}
                    {{ torrent_detail_item("detail_eta", "ETA", "") }}
                    {{ torrent_detail_item("detail_pieces", "Pieces", "") }}
                </div>
                <div class="large-3 columns">
                    {{ torrent_detail_item('detail_seeders', "Seeders", "0") }}
                    {{ torrent_detail_item('detail_peers', "Peers", "0") }}
                    {{ torrent_detail_item("detail_availability", "Availability", "0") }}
                    {#                    {{ torrent_detail_item("detail_auto_managed", "Auto Managed", "True") }}#}
                </div>
                <div class="large-3 columns">
                    {{ torrent_detail_item('detail_active_time', "Active Time", "0m") }}
                    {{ torrent_detail_item('detail_seeding_time', "seeding Time", "0m") }}
                    {#                    {{ torrent_detail_item("detail_seed_rank", "Seed Rank", "0") }}#}
                    {{ torrent_detail_item("detail_added_on", "Added On", "") }}
                </div>
            </div>
        </div>
        <div class="content" id="detail-detail">
            <div class="row">
                <div class="large-6 columns">
                    {{ torrent_detail_item('detail_name', "Name", "n/a") }}
                    {{ torrent_detail_item('detail_hash', "Info Hash", "n/a") }}
                    {{ torrent_detail_item("detail_path", "Path", "n/a") }}
                    {{ torrent_detail_item("detail_total_size", "Total Size", "n/a") }}
                    {{ torrent_detail_item("detail_num_files", "# of Files", "n/a") }}
                </div>
                <div class="large-6 columns">
                    {{ torrent_detail_item('detail_comment', "Comment", "") }}
                    {{ torrent_detail_item('detail_status', "Status", "n/a") }}
                    {{ torrent_detail_item("detail_tracker", "Tracker", "n/a") }}
                </div>
            </div>
        </div>
        <div class="content" id="detail-files">
            <div class="row">
                <div class="small-12 columns">
                <table id="file_list" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Progress</th>
                        <th>Size</th>
                        <th>Priority</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="content" id="detail-peers">
            <div class="row">
                <div class="small-12 columns">
                    <table id="peer_list" style="width: 100%">
                        <thead>
                        <tr>
                            <th colspan="2">Address</th>
                            <th>Client</th>
                            <th>Progress</th>
                            <th>Down speed</th>
                            <th>Up Speed</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
{#                <div class="large-4 columns">#}
{#                    <div class="row">#}
{#                        <div class="large-12 columns">#}
{#                            <h2 style="text-align: center">#}
{#                                <small>Peer Countries</small>#}
{#                            </h2>#}
{#                            <div id="peer_chart" class="epoch graph_colours"#}
{#                                 style="width: 300px; height: 300px"></div>#}
{#                        </div>#}
{#                        <div class="large-12 columns">#}
{#                            <h2 style="text-align: center">#}
{#                                <small>Peer Clients</small>#}
{#                            </h2>#}
{#                            <div id="client_chart" class="epoch graph_colours"#}
{#                                 style="width: 300px; height: 300px"></div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{#                </div>#}
            </div>
        </div>
        <div class="content" id="detail-traffic">
            <div id="detail-traffic-chart"></div>
        </div>
    </div>
</div>

